
<h1>Angular Router App</h1>
<header>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <button>Ajouter Film</button>
    <button>Modifier</button>
    <li><a routerLink="/">Empty homepage</a></li>
    <li><a routerLink="/welcome">Welcome</a></li>
    <li><button routerLink="/addfilm" routerLinkActive="active" ariaCurrentWhenActive="page">Ajouter Film</button></li>
    <li><a routerLink="/listefilms" routerLinkActive="active" ariaCurrentWhenActive="page">Liste films</a></li>
  </ul>
</nav>
<app-add-or-edit-film (Film)="addorupdatefilm($event)"></app-add-or-edit-film>
<app-listefilms [films]="films"></app-listefilms>
</header>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>